<div class="bg-primary-600 mt-6">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl font-extrabold tracking-tight text-font-primary md:text-4xl">
            <span class="block">Need a Developer?</span>
            <span class="block text-primary-400">I am available for new Projects.</span>
        </h2>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
            <div class="inline-flex rounded-md shadow">
                <a href="/contact"
                   class="inline-flex items-center justify-center px-8 py-4 border border-transparent text-base font-medium rounded-md text-font-primary bg-primary-400 hover:bg-primary-500">
                    Contact me
                </a>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            {{ nav:main }}
            <div class="px-5 py-2">
                <a href="{{ url }}" class="text-base text-font-secondary hover:text-font-primary">
                    {{ title }}
                </a>
            </div>
            {{ /nav:main }}
        </nav>

        <div class="mt-8 flex justify-center space-x-6">
            {{ nav:social_media }}
            <a href="{{ url }}" class="text-font-secondary hover:text-font-primary">
                <span class="sr-only">{{ title }}</span>
                {{ icon }}
            </a>
            {{ /nav:social_media }}
        </div>
    </div>
</footer>
