@tailwind base;
@tailwind components;

.custom-shape-divider-bottom-wave {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 65px;
}

.custom-shape-divider-bottom-wave .shape-fill {
    fill: #ffffff;
}



/**
 * Icon
 */

/**
 * The "shine" element
 */
.shiny:hover:after {
    animation: shine 5s ease-in-out  infinite;
    animation-fill-mode: forwards;
}

.shiny:after {
    content: "";
    position: absolute;
    top: -110%;
    left: -150%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);

    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}

.shiny:active:after {
    opacity: 0;
}

@keyframes shine{
    10% {
        opacity: 1;
        top: -30%;
        left: 100%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: 100%;
        transition-property: left, top, opacity;
    }
}

@tailwind utilities;

[x-cloak] { display: none !important; }
