@tailwind base;
@tailwind components;

.custom-shape-divider-bottom-wave {
    position: absolute;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-wave svg {
    position: relative;
    display: block;
    width: calc(131% + 1.3px);
    height: 65px;
}

.custom-shape-divider-bottom-wave .shape-fill {
    fill: #ffffff;
}

@tailwind utilities;
