<div class="relative max-w-7xl mx-auto px-4 sm:px-6 mt-3">
    <div>
        <h1 class="text-font-primary md:text-5xl text-3xl font-bold">{{ title }}</h1>
        <p class="text-font-primary text-lg md:text-xl font-normal mt-3 tracking-wide">{{ subheadline }}</p>
    </div>

    {{ collection:bits paginate="9" as="bits" }}
        <div class="mt-12 max-w-7xl space-y-5 mx-auto lg:max-w-none">
            {{ bits }}
                {{ partial:bits/card }}
            {{ /bits }}
        </div>

        {{ paginate }}
            {{ auto_links }}
        {{ /paginate }}

    {{ /collection:bits }}
</div>
