<div class="max-w-7xl mx-auto px-4 sm:px-6 mt-3">
    <div class="h-full w-full mt-3">
        <div class="">
            <h2 class="text-2xl font-bold leading-7 text-font-primary sm:text-3xl sm:truncate">
                {{ title }}
            </h2>

            <div class="mt-2 flex items-center justify-between">
                <div class="flex items-center">
                    {{ technology }}
                    <div class="mr-1.5">
                        {{ partial:components/badge :label="title" }}
                    </div>
                    {{ /technology }}
                </div>

                <div class="flex items-center text-sm text-font-secondary">
                    <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                              d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                              clip-rule="evenodd"/>
                    </svg>
                    <time datetime="{{ date format="Y-m-d" }}">
                        {{ date format="M d, Y" }}
                    </time>
                </div>
            </div>
        </div>

        {{ partial:components/divider }}

        <article class="mt-5 prose md:prose-lg w-full max-w-full prose-invert prose-primary">
            {{ description }}
        </article>
    </div>

    <div class="h-full w-full mt-3 flex-shrink ">
        {{ code }}
        <pre class="hljs language-{{ mode }}">
            <code class="">{{ code }}</code>
        </pre>
        {{ /code }}
    </div>
</div>
