<div class="flex flex-col rounded shadow-lg overflow-hidden">
    <div class="flex-shrink-0">
        {{ glide:feature_image  preset="thumbnail" }}
            <img class="h-64 md:h-48 w-full object-cover" src="{{ url }}" alt="{{ alt }}">
        {{ /glide:feature_image }}
    </div>
    <div class="flex-1 bg-background-900 p-6 px-6 pt-2 pb-6 flex flex-col justify-between">
        <div class="flex-1">
            {{ technology }}
                {{ partial:components/badge :label="title"}}
            {{ /technology }}

            <a href="{{ url }}" class="block mt-2">
                <p class="text-xl font-semibold text-font-primary pb-1 border-b border-font-primary ">
                    {{ title }}
                </p>
                <p class="mt-3 text-base text-font-secondary">
                    {{ description }}
                </p>
            </a>
        </div>
        <div class="mt-6 flex items-center">
            <div class="flex space-x-1 text-sm text-font-secondary">
                <time datetime="{{ date format="Y-m-d" }}">
                    {{ date format="M d, Y" }}
                </time>
                <span aria-hidden="true">
              &middot;
            </span>
                <span>
              {{ content | read_time:180 }} min read
            </span>
            </div>
        </div>
    </div>
</div>
