<div class="relative max-w-7xl mx-auto px-4 sm:px-6 mt-3">
    <div>
        <h1 class="text-font-primary md:text-5xl text-3xl font-bold">{{ title }}</h1>
        <p class="text-font-primary text-md md:text-lg  font-semibold mt-3 tracking-wide">{{ subheadline }}</p>
    </div>
    {{ collection:blog paginate="9" as="posts" }}
        <div class="mt-12 max-w-7xl mx-auto grid gap-5 md:grid-cols-2 lg:grid-cols-3  md:max-w-none">
            {{ posts }}
                {{ partial:blog/card }}
            {{ /posts }}
        </div>

    {{ paginate }}
        {{ auto_links }}
    {{ /paginate }}

    {{ /collection:blog }}

</div>





