    <div class="pt-3 lg:py-20">
        <div class="pb-16 bg-primary-600 lg:pb-0 lg:relative">
            <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
                <div class="relative lg:-my-8">
                    <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-background-900 lg:hidden"></div>
                    <div class="relative mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
                        <div
                            class="aspect-[10/6] rounded-xl shadow-xl overflow-hidden sm:aspect-[16/7] lg:aspect-auto lg:h-full">
                            <img class="object-cover lg:h-full lg:w-full"
                                 src="{{ hero_image }}"
                                 alt="{{ hero_image:alt }}">
                        </div>
                    </div>
                </div>

                <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
                    <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
                        <blockquote>
                            <div class="flex items-center">
                                <div>
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         class="h-12 w-12 text-font-primary opacity-25 rotate-12" viewBox="0 0 20 20"
                                         fill="currentColor">
                                        <path fill-rule="evenodd"
                                              d="M9 3a1 1 0 012 0v5.5a.5.5 0 001 0V4a1 1 0 112 0v4.5a.5.5 0 001 0V6a1 1 0 112 0v5a7 7 0 11-14 0V9a1 1 0 012 0v2.5a.5.5 0 001 0V4a1 1 0 012 0v4.5a.5.5 0 001 0V3z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </div>
                                <div class="text-font-primary text-5xl font-bold tracking-wider ml-3">
                                    <p>Hello</p>
                                </div>

                            </div>
                            <p class="mt-6 text-2xl font-medium text-font-primary">
                                {{ introduction_text }}
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="py-12">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="lg:text-center">
                <h2 class="text-base text-primary-600 font-semibold tracking-wide uppercase">Philosophy</h2>
                <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-font-primary sm:text-4xl">
                    {{ philosophy_title }}
                </p>
                <p class="mt-4 max-w-2xl text-xl text-font-secondary lg:mx-auto">
                 {{ philosophy_description }}
                </p>
            </div>

            <div class="mt-10">
                <dl class="space-y-10 md:space-y-0 md:grid md:grid-cols-2 md:gap-x-8 md:gap-y-10">
                    {{ philosophies }}
                    <div class="relative">
                        <dt>
                            <div
                                class="absolute text-2xl flex items-center justify-center h-12 w-12 rounded-md bg-primary-500 text-font-primary">
                                {{ icon }}
                            </div>
                            <p class="ml-16 text-lg leading-6 font-medium text-font-primary">
                                {{ title }}
                            </p>
                        </dt>
                        <dd class="mt-2 ml-16 text-base text-font-secondary">
                            {{ description }}
                        </dd>
                    </div>
                    {{ /philosophies }}
                </dl>
            </div>
        </div>
    </div>


    <div class="mt-6 bg-primary-600">
        <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8" x-data="{open: false}">
            <p class="text-center text-base font-semibold uppercase text-font-primary tracking-wider">
                {{ techstack_title }}
            </p>

            <div class="mt-6 grid grid-cols-2 gap-1 md:grid-cols-3 lg:mt-8">
                {{ techstack_items limit="6"}}
                    <a href="{{ link }}"
                       title="{{ title }}"
                       target="_blank"
                       class="hover:scale-105 relative hover:z-10 shiny overflow-hidden inline-block transition transition-transform col-span-1 flex justify-center items-center py-8 px-8 bg-background-900 text-white"
                       style="{{ if color }} background-color: {{ color }}; {{ /if }}">
                        {{ if logo }}
                            <img class="max-h-12 h-full" src="{{ logo }}" alt="{{ logo:alt }}">
                        {{ else }}
                            <span class="text-font-primary text-center tracking-wider font-bold text-3xl leading-none">{{ title }}</span>
                        {{ /if}}
                    </a>
                {{ /techstack_items }}
                {{ techstack_items offset="6"}}
                    <a href="{{ link }}"
                       x-show="open"
                       title="{{ title }}"
                       target="_blank"
                       x-transition:enter="transition ease-out duration-300"
                       x-transition:enter-start="opacity-0 scale-90"
                       x-transition:enter-end="opacity-100 scale-100"
                       x-transition:leave="transition ease-in duration-300"
                       x-transition:leave-start="opacity-100 scale-100"
                       x-transition:leave-end="opacity-0 scale-90"
                       class="hover:scale-105 relative hover:z-10 shiny overflow-hidden inline-block transition transition-transform col-span-1 flex justify-center items-center py-8 px-8 bg-background-900 text-white"
                       style="{{ if color }} background-color: {{ color }}; {{ /if }}">
                        {{ if logo }}
                        <img class="max-h-12 h-full" src="{{ logo }}" alt="{{ logo:alt }}">
                        {{ else }}
                        <span class="text-font-primary text-center font-bold text-3xl leading-none">{{ title }}</span>
                        {{ /if}}
                    </a>
                {{ /techstack_items }}
            </div>

            <div class="relative mt-6 cursor-pointer" @click="open = !open">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                    <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center">
                    <span class="px-3 bg-primary-600 text-lg font-medium text-font-primary">
                      Show <span x-show="!open">more</span> <span x-show="open">less</span>
                    </span>
                </div>
            </div>
        </div>
    </div>


    <div class="py-12 mt-6 max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class="lg:text-center">
        <h2 class="text-base text-primary-600 font-semibold tracking-wide uppercase">My CV</h2>
        <p class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-font-primary sm:text-4xl">
            {{ cv_title }}
        </p>
        <p class="mt-4 max-w-2xl text-xl text-font-secondary lg:mx-auto">
            {{ cv_description }}
        </p>
    </div>

    <div class="flow-root mt-3">
        <ul role="list" class="-mb-8">
            {{ cv_stations }}
            <li>
                <div class="relative pb-8">
                    <span class="{{ last ? 'hidden' : '' }} absolute top-7 left-7 -ml-px h-full w-0.5 bg-background-900" aria-hidden="true"></span>
                    <div class="relative flex space-x-3">
                        <div>
                            <span class="h-14 w-14 rounded-full overflow-hidden bg-background-400 flex items-center justify-center ring-8 ring-background-800">
                                <img class="w-full h-full" src="{{ logo }}" alt="{{ logo:alt }}">
                            </span>
                        </div>
                        <div class="min-w-0 flex-1 items-center flex justify-between space-x-4">
                            <div>
                                <p class="text-lg text-font-secondary">{{ position }} at
                                    <spam class="font-medium text-font-primary">
                                        {{ company }}
                                    </spam>
                                </p>
                            </div>
                            <div class="text-right text-sm whitespace-nowrap text-font-secondary">
                                <time datetime="{{ date:start format="Y-m-d" }}">{{ date:start format="M Y" }} - {{ date:end format="M Y" }}</time>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            {{ /cv_stations }}
        </ul>
    </div>
</div>
